
<div><h1 class="text-center">About</h1>
<p><strong>CreatedBy</strong>:NishaSingla</p>
<p><strong>Website</strong>:<a href=""></a>  </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi saepe porro eum deleniti officiis 
    exercitationem cumque earum maxime culpa quae, nihil sint! Reiciendis deleniti cum corrupti pariatur 
    quidem libero, nisi dolore optio similique eveniet modi beatae iste laudantium adipisci.

</p></div>
<div class="row">
    <div class="col-md-6"><router-outlet name="map"></router-outlet></div>
    <div class="col-md-6"><router-outlet name="feeds"></router-outlet></div>
</div>
